.nav {
  grid-area: nav;
  background-color: cadetblue;
  padding: 6%;
}
.item{
  color: aliceblue;
  margin-top: 5%;

}
.item a.activeLink{
  color: goldenrod;
}

.item a{
  color: #ffffff;
  text-decoration: none;
}
