.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialogsItems {
    padding: 14px ;
    color: white;
}
.dialogsItems .user{
    padding: 4px ;
}
.dialogsItems .active {
    color: gold;
}
.messages {
    padding: 10px;
}
.messages .message {
    color: white;
    padding: 4px;
}
